/* Background is full size */
html,body {height:100%;}

/* No Gutter */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* Text */
h1 {
  font-weight: 100;
  font-size: 50px;
}

h4 {
  font-weight: 300;
}

.hero-image h4 {
  font-weight: 100;
}

/* Nav */
#logo {
  margin-top: 7px;
  margin-bottom: 7px;
}

#custom-nav.navbar-default .navbar-brand {
    color: rgba(156, 154, 154, 1);
}

#custom-nav.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-radius: 0px;
}

#custom-nav.navbar-default .navbar-nav>li>a {
    color: rgba(156, 154, 154, 1);
    background-color: rgba(248, 248, 248, 0);
}

#custom-nav.navbar-default .navbar-nav>li>a:hover,
#custom-nav.navbar-default .navbar-nav>li>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(248, 248, 248, 0);
}

#custom-nav.navbar-default .navbar-nav>.active>a,
#custom-nav.navbar-default .navbar-nav>.active>a:hover,
#custom-nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}

#custom-nav.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

#custom-nav.navbar-default .navbar-toggle:hover,
#custom-nav.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}

#custom-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar {
    margin-bottom: 0;
}

.active {
  font-weight: bold;
}

/* Hero */
.hero-image {
  position: relative;
  background: #00c6ff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #00c6ff 0%, #0072ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #00c6ff 0%,#0072ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00c6ff 0%,#0072ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6ff', endColorstr='#0072ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.tag {
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag-outline {
  margin-bottom: 25px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .tag-outline {
    padding: 10px;
  }
}

/* Why Visit */

.center-text {
  text-align: center;
}

.thumbnail {
  border-style: none;
}

.text-light {
  color: #3A3A3A;
}

/* News + Exhibit */
.image-overlay {
  color: #ffffff;
}

.title {
  margin-top: 50px;
}

.exhibit-div {
  background-image: url("../img/sarah/IMG_0652.jpg");
  background-size: cover;
  height: 500px;
}

.news-div {
  background-image: url("../img/sarah/therapy2.jpg");
  background-size: cover;
  height: 500px;
}

/* Button */
.btn-plc {
  margin-top: 115px;
}
.btn.outline {
 background: none;
 padding: 12px 22px;
}
.btn-primary.outline {
 border: 5px solid #ffffff;
 border-radius: 0px;
 color: #ffffff;
}
.btn-primary.outline:hover, .btn.outline:hover .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
 color: #000000;
 border-color: #ffffff;
 background: #ffffff
}
.btn-primary.outline:active, .btn-primary.outline.active {
 border-color: #ffffff;
 color: #000000;
 box-shadow: none;
}

.btn {
 padding: 14px 24px;
 border: 0 none;
 font-weight: 700;
 letter-spacing: 1px;
 text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
 outline: 0 none;
}


/* Footer */
.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00c6ff;
}

.footer-list li {
  float: left;
}

.footer-list li a {
  font-size: 10px;
  color: #FFFFFF;
  display: inline-block;
  padding: 10px 23px;
  text-decoration: none;
}

/* News Top */

.news-top {
  padding-top: 50px;
}

.news-second-top {
  padding-top: 50px;
}

@media only screen and (max-width: 768px) {
  .news-second-top {
    padding-top: 0px;
  }
}

.news1-div {
  background-image: url("../img/1news.jpg");
  background-size: cover;
  height: 500px;
}

.news2-div {
  background-image: url("../img/2news.jpg");
  background-size: cover;
  height: 500px;
}

.news3-div {
  background-image: url("../img/3news.jpg");
  background-size: cover;
  height: 500px;
}

.news4-div {
  background-image: url("../img/4news.jpg");
  background-size: cover;
  height: 500px;
}

.news5-div {
  background-image: url("../img/5news.jpg");
  background-size: cover;
  height: 500px;
}

.news6-div {
  background-image: url("../img/6news.jpg");
  background-size: cover;
  height: 500px;
}

.news-image {
  position: relative;
  background: #000 url("../img/sarah/therapy4.jpg") center center;
  width: 100%;
  height: 60%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.news-image2 {
  position: relative;
  background: #000 url("../img/sarah/therapy3.jpg") center center;
  width: 100%;
  height: 60%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

/* Contact */
.contact-info {
  margin-top: 60px;
}

#contact-form {
  margin-top: 60px;
}

.map {
  width: 100%;
  height: 400px;
}
